#include <windows.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DIALOG1 DIALOGEX 0, 0, 415, 185
STYLE DS_ABSALIGN | DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "IP Калькулятор"
FONT 8, "MS Shell Dlg", 400, 0, 0xCC
BEGIN
GROUPBOX        "Информация о сети", IDC_INFO_GROUP, 5, 5, 405, 80

	LTEXT         "IP адрес", IDC_INFO_TEXT_IP, 10, 20, 40, 8
	CONTROL         "", IDC_INFO_IP, "SysIPAddress32", WS_TABSTOP, 55, 20, 90, 15

	LTEXT           "Маска сети", IDC_INFO_TEXT_MASK, 10, 40, 40, 8
	COMBOBOX        IDC_INFO_MASK, 55, 40, 90, 150, CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | WS_VSCROLL, WS_EX_CLIENTEDGE

	LTEXT           "", IDC_OUT_TEXT, 155, 15, 50, 65
	LTEXT           "", IDC_OUT_DEC, 205, 15, 60, 65
	LTEXT           "", IDC_OUT_BIN, 265, 15, 140, 65

///////////////////////////////////////////////////////////////////////////////

GROUPBOX        "Расчёт сетей", IDC_CALC_GROUP, 5, 90, 405, 90
	GROUPBOX        "Выданная сеть", IDC_FULL_GROUP, 10, 100, 140, 70

		LTEXT           "IP адрес", IDC_FULL_TEXT_IP, 15, 115, 40, 8
		CONTROL         "", IDC_FULL_IP, "SysIPAddress32", WS_TABSTOP, 55, 115, 90, 15

		LTEXT           "Маска сети", IDC_FULL_TEXT_MASK, 15, 135, 40, 8
		COMBOBOX        IDC_FULL_MASK, 55, 135, 90, 55, CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | WS_VSCROLL, WS_EX_CLIENTEDGE

	PUSHBUTTON      "Добавить", IDC_ADD_BUTTON, 160, 105, 50, 14
	PUSHBUTTON      "Удалить", IDC_DEL_BUTTON, 160, 127, 50, 14
	LISTBOX         IDC_NET_LIST, 220, 100, 175, 85
END
